.bottomBox {
  padding: 0 16px 12px;
}

.bottom {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #8d8d8d;
  border-top: 1px solid #b4b4b4;

  padding-top: 12px;
}

.btn {
  min-width: 40px;

  color: #616161;
  font-weight: bold;

  border-radius: 8px;
  border: none;

  cursor: pointer;

  padding: 4px 8px;
}

.btn.delete {
  color: #fb2c2c;
}
