.toggleBox {
  width: 95px;
  height: 40px;
  border-radius: 30px;
  padding: 6px;
}

.toggle {
  width: 100%;
  height: auto;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  overflow: hidden;
  font-size: 13px;
}
