.header {
  width: 100%;
  height: 85px;

  color: #b4b4b4;
  font-size: var(--page-fz-title);
  background-color: white;

  display: flex;
  justify-content: space-between;

  padding: 0 40px;
}

.categories {
  display: flex;
  align-items: center;
}
