.submitForm {
  width: 495px;
  height: 215px;
  padding: 16px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.submitForm.category {
  width: 315px;
}

.sortModal {
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  /* color: #4caff8; */
  text-align: center;
}

.submitInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 13px;
}
/* 항목 입력 input */
.submitInfo input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  padding: 4px;
}
.submitInfo input:focus {
  outline: none;
}
.category input[placeholder] {
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
}

/* 제출 버튼 */
.submitBtn {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn {
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  line-height: 19px;

  flex: 1;
  padding: 4px;

  cursor: pointer;

  color: white;
  font-weight: 600;
  background-color: #4caff8;
  border: none;
}
.btn:hover {
  background-color: #80c8fc;
}
