.submitForm {
  width: auto;
  height: auto;
  padding: 16px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.sortModal {
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.submitInfo {
  width: 250px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 13px;
}

.btn {
  width: auto;

  color: #f30000;
  font-size: 13px;
  font-weight: 600;
  background-color: #f0f0f0;

  border: none;
  border-radius: 5px;
  line-height: 19px;

  flex: 1;
  padding: 4px;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.category input[placeholder] {
  text-align: center;
}
.btn:hover {
  background-color: #dfdfdf;
}

.left {
  width: 140px;
  height: 100%;
  border-radius: 7px;
  color: #8d8d8d;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 5px;

  position: relative;
  cursor: pointer;
  padding: 4px;
}
.right {
  height: 100%;
  flex: none;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: center;
}

/* 제출 버튼 */
.submitBtn {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  font-size: 1rem;
}
