/* NanumSquareNeo - Regular */
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 500;
  font-style: normal;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format('woff');
  font-display: swap;
}

/* NanumSquareNeo - Bold */
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: var(--fw-m);
  font-style: normal;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format('woff');
  font-display: swap;
}

/* NanumSquareNeo - ExtraBold */
@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: var(--fw-b);
  font-style: normal;
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format('woff');
  font-display: swap;
}
