/* common */
.list,
.menuBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* listBox */
.listBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list {
  width: 100%;
}
.menuBox {
  gap: 5px;
}

/* priceBox */
.priceBox {
  min-width: 120px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  text-align: right;
}

.price {
  min-width: 76px;
}
