/* List Box */
.listBox {
  min-width: 85px;

  display: flex;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background-color: var(--key-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

  color: white;
  font-size: var(--fz-s);

  cursor: pointer;
  overflow: hidden;

  padding: 12px;
}
.listBox[data-isrow='true'] {
  justify-content: center;
}
.listBox[data-isrow='false'] {
  flex-direction: column;
}

@media (max-height: 768px) {
  .listBox {
    min-width: 70px;

    font-size: var(--fz-s-response);
    padding: 8px;
  }
}

/* Detect Animation */
.animateBox {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  left: -95px;
  bottom: 85px;
}
