.categories {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: -1;
}

.listBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.list {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #99d2fd;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  overflow: hidden;
}

.iconBox {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  z-index: 99;
  color: #52b4ff;
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
