.timer {
  display: flex;
  gap: 15px;

  font-size: var(--fz-l);

  cursor: default;
}

.now {
  width: auto;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 10px;
}

.statusBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 5px;
  overflow: hidden;

  background-color: var(--key-color);
  letter-spacing: 0.1rem;

  padding: 4px 12px;
}
.title {
  color: white;

  line-height: 29px;

  font-size: var(--fz-r);
  font-weight: var(--fw-m);
}
.icon {
  width: 10px;
  height: 10px;

  border-radius: 50%;
}
.icon[data-connected='true'] {
  background-color: #00e522;
}
.icon[data-connected='false'] {
  background-color: #da2b2e;
}

@media (max-height: 768px) {
  .timer {
    font-size: var(--fz-l-response);
  }
  .status {
    padding: 2px 12px;
  }
  .title {
    font-size: var(--fz-r-response);
  }
}
