/* MenuWidget, TableWidget */
.iconBox {
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  overflow-x: hidden;
}
.textBox {
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;

  overflow-x: hidden;
}

/* WidgetIconButton */
.openIconBox {
  width: 10px;
  height: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.openIconBox [data-flip='true'] {
  transform: rotateX(180deg);
}
.openIconBox [data-flip='false'] {
  transform: rotateX(0);
}
