/* Menu Widget, Table Widget */
.iconBox {
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  overflow-x: hidden;
}
.textBox {
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;

  overflow-x: hidden;
}

@media (max-height: 768px) {
  .iconBox {
    width: 20px;
    height: 20px;
  }
}

/* Widget Icon Button */
.openIconBox {
  width: 10px;
  height: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.openIconBox [data-flip='true'] {
  transform: rotateX(180deg);
}
.openIconBox [data-flip='false'] {
  transform: rotateX(0);
}
