.listBox {
  min-width: 73px;

  display: flex;
  align-items: center;
  gap: 5px;

  border-radius: 8px;
  background-color: var(--key-color);

  color: white;
  font-size: var(--list-fz-small);

  cursor: pointer;
  overflow: hidden;

  padding: 8px;
}
.listBox[data-isrow='true'] {
  justify-content: center;
}
.listBox[data-isrow='false'] {
  flex-direction: column;
}

.iconBox {
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  overflow-x: hidden;
}
.textBox {
  width: 100%;

  display: flex;
  justify-content: center;
  position: relative;

  overflow-x: hidden;
}

.openIconBox {
  width: 10px;
  height: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.openIconBox [data-flip='true'] {
  transform: rotateX(180deg);
}
.openIconBox [data-flip='false'] {
  transform: rotateX(0);
}

.animateBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
