.header {
  width: 100%;
  background-color: white;
  color: #b4b4b4;
  font-size: 1.2rem;

  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  z-index: 99999;
}

@media (min-width: 400px) {
  .header {
    height: 55px;
    font-size: 0.7rem;
    padding: 0 10px;
  }
}
@media (min-width: 800px) {
  .header {
    height: 55px;
    font-size: 0.95rem;
    padding: 0 20px;
  }
}
@media (min-width: 1000px) {
  .header {
    height: 65px;
    font-size: 1rem;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 75px;
    font-size: 1.2rem;
    padding: 0 40px;
  }
}
