.widgetWrap {
  position: fixed;
  right: 15px;
  bottom: 95px;
  z-index: 99;

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 10px;
}

.listBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.widget,
.list {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #99d2fd;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  overflow: hidden;
}

.widget .iconBox {
  width: 20px;
  height: 15px;
}

.iconBox {
  width: 55px;
  height: 55px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  width: 20px;
  height: 20px;
}

.iconBox span {
  width: 100%;
  height: 2px;
  background-color: #99d2fd;
}

/* 위젯 메뉴 */
.widgetMenuList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: -1;
}

.widgetMenuList .iconBox {
  width: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  z-index: 99;
}

.widgetMenuList .box {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
