/* 헤더 좌측 */
.left {
  width: 60%;
  height: 100%;

  display: flex;
  font-size: 1.3rem;
}

.addCategoryBox {
  width: 30%;
  max-width: 140px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  position: relative;
  line-height: 28px;
}
.category {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.addCategoryBox {
  font-size: 1rem;
  color: #222;
}
