.serverStatus {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  color: white;
  background-color: #4caff8;
  border-radius: 5px;
  overflow: hidden;
  padding: 6px 12px;
}

.serverStatus > div {
  line-height: 19px;
}

.status {
  width: 10px;
  height: 10px;
  background-color: #00e522;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
