.list {
  width: calc(100% / 8 - 10px);
  height: 120px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  font-size: 1.2rem;
  padding: 12px 16px;
}
@media (max-width: 800px) {
  .top {
    font-size: 1rem;
  }
}

.bottomBox {
  padding: 12px 16px;
}
.bottom {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: #8d8d8d;
}

/* 추가 버튼 */
.addBtn {
  border: 2px solid #222;
  background-color: transparent;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1600px) {
  .list {
    width: calc(100% / 7 - 10px);
    height: 120px;
  }
}
@media (max-width: 1400px) {
  .list {
    width: calc(100% / 6 - 10px);
    height: 120px;
  }
}
@media (max-width: 1200px) {
  .list {
    width: calc(100% / 5 - 10px);
    height: 120px;
  }
}
@media (max-width: 1000px) {
  .list {
    width: calc(100% / 4 - 10px);
    height: 120px;
  }
}
@media (max-width: 800px) {
  .list {
    width: calc(100% / 3 - 10px);
    height: 120px;
  }
}
@media (max-width: 600px) {
  .list {
    width: calc(100% / 2 - 10px);
    height: 120px;
  }
}
