/* 주문목록 */
.orders {
  width: 100%;

  position: relative;
  overflow-y: auto;

  color: #222;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

@media (max-width: 1560px) {
  .orders {
    grid-template-columns: repeat(5, calc(20% - 15px));
  }
}
@media (max-width: 1260px) {
  .orders {
    grid-template-columns: repeat(4, calc(25% - 15px));
  }
}
@media (max-width: 960px) {
  .orders {
    grid-template-columns: repeat(3, calc(33.333% - 15px));
  }
}
@media (max-width: 720px) {
  .orders {
    grid-template-columns: repeat(1, calc(100%));
  }
}
