/* 주문목록 */
.orders {
  width: 100%;

  position: relative;
  overflow-y: auto;

  color: #222;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
