.header {
  width: 100%;
  height: 79px;

  color: #b4b4b4;
  background-color: white;

  display: flex;
  justify-content: space-between;

  padding: 0 40px;
}

.categories {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: var(--fz-l);

  cursor: default;
}
