.header {
  width: 100%;

  color: #b4b4b4;
  background-color: white;

  display: flex;
  justify-content: space-between;

  padding: 0 40px;
}

.categories {
  display: flex;
  align-items: center;
}
