.list {
  min-width: 150px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--page-fz-title);
  color: #8d8d8d;

  cursor: pointer;

  padding: 18px;
}

.list[data-selected='true'] {
  color: var(--key-color);
  font-weight: var(--page-fw-bold);
}

.list[data-selected='false'] {
  font-weight: 500;
}
